<section class="slide slide--code">
  <h2 class="slide__title">{% block title %}{% endblock %}</h2>
  <pre class="slide__code"><code class="language-{% block language %}python{% endblock %}">{% block code %}{% endblock %}</code></pre>
</section>
