<section class="slide slide--quote">
  <blockquote class="slide__quote">{% block quote %}{% endblock %}</blockquote>
  <cite class="slide__attribution">{% block attribution %}{% endblock %}</cite>
</section>
