<section class="slide slide--two-column">
  <h2 class="slide__title">{% block title %}{% endblock %}</h2>
  <div class="slide__columns">
    <div class="slide__col-left">{% block left %}{% endblock %}</div>
    <div class="slide__col-right">{% block right %}{% endblock %}</div>
  </div>
</section>
